.login{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}
.login_container_top_tittle{
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}
.login_container_form_box{
    display: flex;
    flex-direction: column;
    label{
        text-align: center;
        margin-bottom: 10px;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: italic;
        color: green;
    }
    input{
        background: none;
        border: 2px solid darkgreen;
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        font-style: normal;
        border-radius: 12px;
    }
    p{
        a{
            text-decoration: none;
            color: black;
            font-family: "Poppins", sans-serif;
            font-weight: 200;
            font-style: italic;
            font-size: 12px;
        }
    }
}
.login_container_form_input{
    display: flex;
    input{
        width: 20px;
    }
}
.login_container_form_button{
    display: flex;
    justify-content: center;
    align-items: center;
    button{
        min-width: 280px;
        height: 30px;
        border-radius: 18px;
        border: none;
        font-family: "Poppins", "sans-serif";
        font-weight: bold;
        &:hover{
            background-color: darkgreen;
            color: white;
            font-family: "Poppins", "sans-serif";
            font-weight: bold;
            font-style: italic;
            cursor: pointer;
        }
    }
}
.login_container_negation{
    position: relative;
    top: 60px;
    p{
        font-family: "Poppins", "sans-serif";
        font-weight: 300;
        font-style: italic;
        font-size: 13px;
        a{
            text-decoration: none;
        }
    }
}