<div class="login">
    <div class="login_container">
        <div class="login_container_top">
            <h1 class="login_container_top_tittle">DreamFly Air</h1>
            <img src="../../../assets/images/logo.png" alt="" class="login_container_top_image">
        </div>
        <form action="" class="login_container_form">
            <div class="login_container_form_boxes">
                <div class="login_container_form_box">
                    <label for="">Email</label>
                    <input type="text">
                    <p><a href="">Forgot Email?</a></p>
                </div>
                <div class="login_container_form_box">
                    <label for="">Password</label>
                    <input type="text">
                    <p><a href="">Forgot Password?</a></p>
                </div>
            </div>
            <div class="login_container_form_input">
                <input type="checkbox" name="" id="">
                <p>Remember Me</p>
            </div>
            <div class="login_container_form_button">
                <a href=""><button>Sign In</button></a>
            </div>
        </form>
        <div class="login_container_negation">
            <p>Not a member?<a href="register"> Register</a></p>
        </div>
    </div>
</div>
<router-outlet></router-outlet>