<div class="login">
    <div class="login_container">
        <div class="login_container_top">
            <h1 class="login_container_top_tittle">DreamFly Air</h1>
            <img src="../../../assets/images/logo.png" alt="" class="login_container_top_image">
        </div>
        <form action="" class="login_container_form">
            <div class="login_container_form_boxes">
                <div class="login_container_form_box">
                    <label for="">Name</label>
                    <input type="text">
                </div>
                <div class="login_container_form_box">
                    <label for="">Last name</label>
                    <input type="text">
                </div>
                <div class="login_container_form_box">
                    <label for="">BIrthday date</label>
                    <input type="text">
                </div>
                <div class="login_container_form_box">
                    <label for="">Document type</label>
                    <input type="text">
                </div>
                <div class="login_container_form_box">
                    <label for="">Document Number</label>
                    <input type="text">
                </div>
                <div class="login_container_form_box">
                    <label for="">Email</label>
                    <input type="text">
                </div>
                <div class="login_container_form_box">
                    <label for="">Create a Password</label>
                    <input type="text">
                </div>
                <div class="login_container_form_box">
                    <label for="">Confirm Password</label>
                    <input type="text">
                </div>
            </div>
            <div class="login_container_form_button">
                <a href=""><button>Sign Up</button></a>
            </div>
        </form>
        <div class="login_container_bottom">
            <img src="../../../assets/images/ticketsBpttom.png" alt="" class="login_container_bottom_image">
        </div>
    </div>
</div>
<router-outlet></router-outlet>