table {
    width: 60%;
    border-collapse: collapse;
    margin: 20px auto;
}

th,
td {
    border: 1px solid #333;
    padding: 10px;
    text-align: center;
}

th {
    background-color: rgb( 4, 62, 111 );
    color: white;
}

td {
    background-color: #f9f9f9;
}

tr:nth-child(even) td {
    background-color: #e9e9e9;
}