
<table class="table-age">
    <tr>
        <th rowspan="2">Age</th>
        <th colspan="2">Price Porcentage</th>
    </tr>
    <tr>
        <th>High Season</th>
        <th>Low Season</th>
    </tr>
    <tr>
        <td>1-5</td>
        <td>+5%</td>
        <td>Neutralize</td>
    </tr>
    <tr>
        <td>6-10</td>
        <td>+10%</td>
        <td>Neutralize</td>
    </tr>
    <tr>
        <td>11-15</td>
        <td>+12%</td>
        <td>Neutralize</td>
    </tr>
    <tr>
        <td>16-Adult</td>
        <td>+15%</td>
        <td>Neutralize</td>
    </tr>
</table>