<div class="container_home">
    <div class="container_home_content">
        <h1 class="container_home_content_title">Welcome to DreamFly Air</h1>
    </div>

    <section class="container_home_section">
        <img src=".../../../../../assets/images/fondoplane.png" alt="" class="container_home_section_one_img">
        <a href=""><button class="container_home_section_button">Fly With Us</button></a>
    </section>
    <section class="container_home_section_text">
        <h4 class="container_home_section_titile_aboutUs">About Us</h4>
        <p class="container_home_section_parragraph">
            Dreamfly Air is the magical, eco-friendly airline just for kids! Our planes are powered by clean energy, and
            we focus on protecting our planet while we explore the skies. Enjoy colorful, cozy seats made from recycled
            materials, and meet our friendly flight crew who love nature as much as you do. Participate in fun, green
            activities, savor tasty organic snacks, and collect stamps in your special Dreamfly passport. With Dreamfly
            Air, every flight is an adventure where you can make new friends and learn about taking care of our Earth.
            At Dreamfly Air, your dreams take flight sustainably!</p>
    </section>
    <section class="container_home_section">
        <div class="container_home_section_services">
            <h3>Our Services</h3>
            <p>&#8226; Food</p>
            <p>&#8226; Wifi service</p>
            <p>&#8226; Entertainment</p>
            <p>&#8226; Toy Store</p>
            <p>&#8226; Comfortable environment</p>

            <div class="container_home_section_service_images">
                <img src="../../../assets/images/ticketsBpttom.png" alt=""
                    class="container_home_section_service_images_1">
                <img src="../../../assets/images/kids.png" alt="" class="container_home_section_service_images_2">
            </div>
        </div>
    </section>
    <section class="container_home_section">
        <div class="container_home_section_package">
            <h3>Some travel package</h3>

            <div class="container_home_section_package_boxes">
                <div class="container_home_section_package_boxes_box">
                    <img src="../../../assets/images/packagesImg/universal-studis.jpg" alt="">
                    <p>Universal Studios - Florida/EE-UU</p>
                    <p>USD</p>
                </div>
                <div class="container_home_section_package_boxes_box">
                    <img src="../../../assets/images/packagesImg/dreaamworld.jpg" alt="">
                    <p>Dream World Bangkok/Thai</p>
                    <p>USD - Thai Baht</p>
                </div>
                <div class="container_home_section_package_boxes_box">
                    <img src="../../../assets/images/packagesImg/floridaDis.jpg" alt="">
                    <p>Disney Land - Florida/EE-UU</p>
                    <p>USD</p>
                </div>
                <div class="container_home_section_package_boxes_box">
                    <img src="../../../assets/images/packagesImg/parisDis.jpg" alt="">
                    <p>Disney Land - Paris/France</p>
                    <p>USD-EUR</p>
                </div>
            </div>
        </div>
    </section>

    <section class="container_home_section">
        <h3>Keep this in mind</h3>
        <p class="container_home_section_promotion">DreamFly Air is excited to announce our special promotion for kids!
            Families can now enjoy a fun and engaging
            travel experience designed with our youngest passengers in mind. Our flights feature kid-friendly meals,
            exciting in-flight entertainment, and dedicated play areas to keep little ones entertained and happy
            throughout the journey. Our friendly staff ensures a welcoming and safe environment, making DreamFly Air the
            best choice for family travel. Book now and let your kids soar to new adventures with DreamFly Air!</p>
        <b>What are you waiting For?</b>
        <a href=""><button class="container_home_section_buttontravel"><span>Travel with us</span></button></a>
    </section>

    <app-table></app-table>
    <app-search-destiny></app-search-destiny>
</div>